APP_PORT=8080
ASPNETCORE_ENVIRONMENT=Production
ENABLE_HTTPS_REDIRECTION=false
ENABLE_SWAGGER=false
FAFNIR_CONNECTION_STRING=Host=163.176.151.15;Port=5432;Database=pro_fafnir;Username=srv;Password=troque-aqui
AUTH_TOKEN_SECRET=troque-esta-chave-em-producao-fafnir-vault
CORS_ALLOWED_ORIGIN_1=http://localhost:4200
CORS_ALLOWED_ORIGIN_2=
